{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #e3e7eb;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
  <div class="card my-4">
    <h5 class="card-header">About Us</h5>
    <div class="card-body">
      <p class="card-text">
        This is a blog where we post opinions & random thoughts on different
        topics and issues related to Africa.
      </p>
      <button class="btn btn-secondary">Contact Us</button>
    </div>
  </div>
</div>

{% endblock sidebar %}
